body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.italic-text {
  font-style: italic;
}

h1,
h2 {
  text-align: center;
  letter-spacing: 2px;
}

p {
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-indent: 30px;
}

.justified-text {
  text-align: justify;
  max-width: 700px;
  hyphens: auto;
}

.gear-list {
  list-style-type: square;
}

.launch-list {
  list-style-type: upper-roman;
}

.gear-list li,
.launch-list li {
  margin-bottom: 10px;
}
